<form [formGroup]="accountForm">
  <md-card *ngIf="user">
    <md-card-title>Welcome, {{ user.name }}!</md-card-title>
  </md-card>
  <md-card *ngIf="userActivityStream.errMessage" class="mat-warn">
    {{ userActivityStream.errMessage }}
  </md-card>
  
  <div *ngIf="user && user.categories">
    <md-card>Categories</md-card>
    <md-card>
      <md-input-container>
        <input mdInput type="text"
               name="newCategory"
               (keyup.enter)="addCategory()"
               placeholder="Add a category"
               [formControl]="newCategory"
               [mdAutocomplete]="auto" />
      </md-input-container>
  
      <md-autocomplete #auto="mdAutocomplete">
        <md-option *ngFor="let category of filteredCategories | async" [value]="category.id">
          {{ category.name }}
        </md-option>
      </md-autocomplete>
      
    </md-card>
    <md-card *ngFor="let category of user.categories" class="margin-bottom-10">
      {{ category }}
    </md-card>
  </div>
  <!-- Move to another component for activities-->
  <!--<md-card>Activities</md-card>-->
  <!--<md-card *ngIf="userActivityStream | async as activities; else loading" class="padding-bottom-50">-->
    <!--<md-list class="list-group">-->
      <!--<md-list-item>-->
        <!--<md-input-container>-->
          <!--<input mdInput type="text"-->
                  <!--name="message"-->
                  <!--(keyup.enter)="sendMessage()"-->
                  <!--placeholder="Add an activity"-->
                  <!--[formControl]="message" />-->
        <!--</md-input-container>-->
      <!--</md-list-item>-->
      <!--<md-list-item *ngFor="let activity of activity">-->
        <!--{{ activity.name }}-->
      <!--</md-list-item>-->
    <!--</md-list>-->
  <!--</md-card>-->
  <!--<ng-template #loading>-->
    <!--<md-card class="mat-accent">-->
      <!--Loading...-->
    <!--</md-card>-->
  <!--</ng-template>-->
  <!--<md-progress-bar mode="indeterminate" *ngIf="userActivityStream.loading"></md-progress-bar>-->
  <!--<div class="eventful-badge eventful-large">-->
    <!--<img src="http://api.eventful.com/images/powered/eventful_139x44.gif"-->
         <!--alt="Local Events, Concerts, Tickets">-->
    <!--<p><a href="http://eventful.com/">Events</a> by Eventful</p>-->
  <!--</div>-->
</form>
