@import '../../styles/app.variables';

.eventful-badge,
.eventful-badge * {
  margin: 0             !important;
  padding: 0            !important;
  border: 0             !important;
  text-align: center    !important;
  color: #CCC           !important;
  font-family: Arial    !important;
  text-decoration: none !important;
}

.eventful-large {
  position: relative    !important;
  width: 140px          !important;
  font-size: 15px       !important;
  line-height: 17px     !important;
  font-weight: bold     !important;
}

.eventful-medium {
  position: relative    !important;
  width: 100px          !important;
  font-size: 12px       !important;
  line-height: 13px     !important;
}

.eventful-small {
  position: relative    !important;
  width: 100px          !important;
  font-size: 11px       !important;
  line-height: 11px     !important;
}

.category-card {
  margin: 5px 5px 5px 0;
  padding: 10px 0 10px 0;
}

.category-card:hover {
  color: $text-primary;
  background-color: $bg-primary;
}
