:host {
  z-index: -1;

  .cover-background {
    background-size: cover !important;
    background: no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/deepSea.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/deepSea.jpg', sizingMethod='scale')";
  }

  .color-overlay,
  .gradient-overlay {
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    right: 0;
  }

  .img-deep-sea {
    background-image: url("./../../assets/deepSea.jpg");
    z-index: -1;
    background-size: cover;
  }
}
