@import '~@angular/material/core/theming/all-theme';
@import '~@angular/material/core/theming/theming';

$primary: mat-palette($mat-indigo, 700, 500, 900);
$accent:  mat-palette($mat-cyan, 700, 500, 900);
$warn: mat-palette($mat-red, 700, 500, 900);
$success: mat-palette($mat-green);
$danger: mat-palette($mat-red);

$text-primary: mat-color($primary, 900, 1);
$text-accent: mat-color($accent, 900, 1);
$text-warn: mat-color($warn, 900, 1);
$text-success: mat-color($success, 900, 1);
$text-danger: mat-color($danger, 900, 1);

$bg-primary: mat-color($primary, 500, 0.3);
$bg-accent: mat-color($accent, 500, 0.3);
$bg-warn: mat-color($warn, 500, 0.3);
$bg-success: mat-color($success, 500, 0.3);
$bg-danger: mat-color($danger, 500, 0.3);
