.width-5 {
  width: 5px;
}

.width-10 {
  width: 10px;
}

.width-15 {
  width: 15px;
}

.width-20 {
  width: 20px;
}

.width-25 {
  width: 25px;
}

.width-30 {
  width: 30px;
}

.width-35 {
  width: 35px;
}

.width-40 {
  width: 40px;
}

.width-45 {
  width: 45px;
}

.width-50 {
  width: 50px;
}

.width-120 {
  width: 120px;
}

.width-145 {
  width: 145px;
}

.width-25-perc {
  width: 25%;
}

.width-50-perc {
  width: 50%;
}

.width-75-perc {
  width: 75%;
}

.width-100-perc {
  width: 100%;
}

.height-100 {
  height: 100px;
}

.height-150 {
  height: 150px;
}

.height-200 {
  height: 200px;
}

.height-250 {
  height: 250px;
}