<div class="row">
  <md-card *ngIf="loginMessage" [class.md-primary]="intendedLogout" [class.md-accent]="!intendedLogout">
    {{ loginMessage }}
  </md-card>
  <md-card *ngIf="loading && !loginMessage" class="md-accent">Checking login credentials...</md-card>
  <div *ngIf="!loading">
    <md-card class="no-margin-bottom">
      <md-card-title class="text-center">Login</md-card-title>
      <icon name="impart" size="xxl" class="impart-logo"></icon>
    </md-card>
    <md-card class="no-margin-bottom col-lg-12">
      <div class="col-lg-4">
        <dmh-button-icon (click)="loginWith('foursquare')"
            name="fa-foursquare" size="xl">
          <span class="padding-left-10">Login with Foursquare</span>
        </dmh-button-icon>
      </div>
      <div class="col-lg-4">
        <dmh-button-icon (click)="loginWith('google')"
                         name="fa-google" size="xl">
          <span class="padding-left-10">Login with Google</span>
        </dmh-button-icon>
      </div>
      <!--<div class="col-lg-3">-->
        <!--<dmh-button-icon (click)="loginWith('facebook')"-->
                         <!--name="fa-facebook" size="xl">-->
          <!--<span class="padding-left-10">Login with Facebook</span>-->
        <!--</dmh-button-icon>-->
      <!--</div>-->
      <div class="col-lg-4">
        <dmh-button-icon (click)="loginWith('twitter')"
                         name="fa-twitter" size="xl">
          <span class="padding-left-10">Login with Twitter</span>
        </dmh-button-icon>
      </div>
    </md-card>
  </div>
</div>
